.carousel-imges{
    position: relative;
    width: 100%;
    height: 460px;
   
}
.carousel-imges-item{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.carousel-imges-item img{
    width: 100%;
}
.current{
    display: block;
}

