.card{
 width: 100%;
 background-color: #fff;
}
.Ccard{
    width: 1226px;
    margin: 0 auto;
    padding: 32px 0;
}
.cardFrom{
    vertical-align:middle;
    font-size: 16px;
}
table{
    width: 100%;
}
.card-price{
    font-size: 25px;
    color: #f20;
    font-weight: bold;
    margin-right: 30px;
}
.submitAll{
    width: 100px;
    height: 40px;
    background-color: #ff6700;
    color: #fff;
    font-size: 20px;
}
.card-bar{
    float: right;
}


