.list-item{
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin-left: 14px;
    margin-bottom:14px ;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s;
   
}
.list-item:hover{
    box-shadow: 0 0 30px #ccc;
}
.first{
    margin-left: 0px;
}
.imge{
    width: 160px;
    height: 160px;
    margin: 0 auto;
     margin-bottom: 18px;
}
.imge img{
    width: 100%;  
}
.slogan{
    margin-top: 5px;
    font-size: 12px;
    color: #9999;
}
.price{
    color: #ff6700;
    font-size: 14px;
    margin-top: 5px;
}